.Dictionary form {
    margin: 10px 0;
    padding: 20px;
    background-color: #3E4459;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 3px;
}

.Dictionary input {
    border-radius: 3px;

}

.Dictionary .hint {
    font-size: 12px;
    color: #f2f2f2;
    margin-top: 10px
}

.Dictionary h1 {
    color: #f2f2f2;
    font-size: 20px;
    margin-bottom: 20px;
}