.Meaning {
    margin: 10px 0;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    background-color: white;
    border-radius: 3px;
    padding: 20px;
    color: #3E4459
    
}

.Meaning .speech {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #52528C
}
.Meaning .example {
    opacity: 0.6;
    font-style: italic;
    line-height: 24px;
}

.Meaning .definition {
    font-size: 16px;
    line-height: 1.5;
}
.Meaning p {
    margin: 0
}

.Meaning .definitions-examples {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 14px
}