.Phonetics {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 14px
  
}

.Phonetics span {
    opacity: 0.7;
}

.Phonetics .phonetic {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}


.Phonetics a {
    text-decoration: none;
    color: #FF4A6D;
    border: 1px solid #FF4A6D;
    padding: 2px 10px;
    border-radius: 3px;
    font-size: 14px;
    transition: all 0.2s
}

.Phonetics a:hover {
    background: #FF4A6D;
    color: white
}